header {
    background-color: #f6f6f6;
    color: #000000;
    height: 120px;
}

#header-link {
    color: #000000;
    text-decoration-line: none;
}

#header-link:hover {
    color: #555555;
    text-decoration-line: none;
}

footer {
    background-color: #f6f6f6;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

aside {
    background-color: #fffeff;
}

main {
    background-color: #fffefc;
}

p{
    padding-right: 5px;
}

.fa-user-alt {
    padding-right: 10px;
}

ul{
    padding-inline-start: 20px
}

li {
    background: #fffff9;
    display: inline-block;
    padding: 4px 8px;
    margin-bottom: 0;
    margin-right: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid #000000;
    border-radius: 4px;
}

li:hover {
    background: #97b4e9;
    -moz-transition: background-color 200ms ease-in;
    -webkit-transition: background-color 200ms ease-in;
}

li.active {
    background: #d0dcff;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    border-bottom: 1px solid gray;
    background: none repeat scroll 0 0 #007bff;
    padding: 10px;
    color: #FFFFFF;
}

tr {
    border-top: 1px solid gray;
    text-align: center;
}

table.login tr {
    border: none;
    text-align: left;
}

input.short-button{
    width: 50px;
}

td label{
    width: 150px;
    text-align: left;
    margin-left: 70%;
}

td input{
    width: 200px;
}

td select{
    width: 200px;
}

.lang_icons {
    /*background-color: #bed3e6;*/
}

div.col-xs-12{
    width: 380px
}

div.col-xs-4{
    width: 120px
}

.card{
    border: none;
}

.submit-button {
    margin-top: 10px;
}